* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 60vh;
    background-color:white;
  }
.frame { 
    height: 600px; 
    width: 750px; 
    margin: auto;
    position: relative;
}

.images { 
    object-fit: contain;
    margin: auto; 
    display:flex; 
    height: 500px; 
    width: 600px; 

  }

  #prevButton { 
      position: absolute; 
      top: 90%; 
      z-index: 10; 
      left: 8%; 
      font-size: 30px; 
      color: black;
      opacity: 0.5; 
      cursor: pointer; 
      height: 20px; 
      width: 40px; 
  }

  #nextButton { 
    position: absolute; 
    top: 90%; 
    z-index: 10; 
    right: 8%; 
    font-size: 30px; 
    color: black;
    opacity: 0.5; 
    cursor: pointer; 
    height: 20px; 
    width: 40px; 
  }

  .selectors { 
      position: absolute; 
      left: 45%;
      pointer-events: all;
  }