* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 60vh;
    background-color:white;
    font-family:Georgia, 'Times New Roman', Times, serif 
  }
.frame { 
    height: 600px; 
    width: 750px; 
    margin: auto;
   /*overflow: hidden;*/
}

.images { 
    object-fit: contain;
    margin: auto; 
    display:flex; 
    height: 500px; 
    width: 600px; 

  }
